body {
    background-color: rgb(111, 12, 124);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.btn {
    margin: 20px;
    padding: 20px;
    font-size: 22px;
    border-radius: 100px;
    background-color: rgb(216, 16, 153);
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: 2px solid rgb(75, 8, 84);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
    background-color: rgb(187, 187, 187);
    box-sizing: border-box;
    border: 1px solid black;
}